.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/-11.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("../images/-21.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  min-height: 400px;
  background-image: url("../images/-31.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-image-2 {
    min-height: 253px;
  }

  .u-section-1 .u-image-3 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1 .u-image-2 {
    min-height: 569px;
  }

  .u-section-1 .u-image-3 {
    min-height: 569px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-2 {
    min-height: 358px;
  }

  .u-section-1 .u-image-3 {
    min-height: 358px;
  }
}